

/*------------------------------------------- ESTILOS GENERALES ----------------------------------------------------*/



/*-------------- TIPOGRAFÍA --------------*/

/*poner acá TODOS los elementos tipográficos. En el resto de las secciones solamente hay cuestiones estructurales/de layout*/

		/*general*/

		html{
			font-family:'Questrial', sans-serif;
		}
		
		/*headings*/
		
		h1{
			margin-top:1em; /*me permito un margin top porque se supone que nunca hay elementos al mismo nivel horizontal que un h1, con otros headers esto no es seguro*/
			font-size: 4em;
			margin-bottom: 1em;
			color: #07d;
		}
		
		h2{
			font-size: 3em;
			margin-bottom: 1em;
			color: #07d;
		}
			
				.sectorTexto h2{
					font-size: 2em;
				}
				
				#quienesSomos h2{ /*HACK: las secciones de texto no están preparadas para ser primeras en la sección. Con esto compenso la altura del header, que si no lo tapa*/
					margin-top:50px;
				}

		h3{
			font-size: 1.5em;
			margin-bottom: 0.6em;
		}
		
				.footerWidget h3{
					font-size:1.2em;
					font-weight:bold;
				}
				
		h4{
			font-size:1.2em;
			margin-bottom:0.5em;
			font-weight:bold;
		}
		
		/*modulos especiales*/

		.textoGrandeHome{
			color: white;
			font-size: 2.8em;
			font-weight: bold;
			line-height: 1.3em;
			text-transform: uppercase;
		}
		.textoChicoHome{
			color: white;
		}
		
		/*interfaz*/
		
		.pgwMenu li a{
			text-transform:uppercase;
			font-size:0.9em;
		}
		.pgwMenu li a:hover{
			color:#ccc;
			transition:0.4s;
		}
		
		.mainNav__item.active a{
			color:#999;
		}
		
		.footerWidget li a {
			color:white;
			text-decoration:none;
			line-height:1.3em;
		}
		
		.homeButton{
			text-transform: uppercase;
			font-size: 1.1em;
			letter-spacing: 1px;
			font-weight: bold;
		}

		.homeButton.highlight{
			background: rgba(0,127,255,0.5);
		}

		.homeButton:hover{
			background-color: rgba(255,255,255,0.5);
			transition: 0.4s;
		}
		
		/*texto de cuerpo*/

		p{
			font-size: 1.1em;
			line-height: 1.8em;
			margin-bottom: 20px;
		}
		
		p.small{
			font-size: 0.9em;
			line-height: 1.3em;
			margin-bottom: 0;
		}
		
		p.smaller{
			font-size: 0.8em;
		}
		
		.centrado{
			text-align:center;
		}


		
		
/*--------------------- COLOR ---------------------*/

		
		/*reset de estilos de pgwMenu*/
		
		.pgwMenu{
			background:none;
		}
		
		.pgwMenu li a:hover{
			background:none;
		}	
		

		
		/*COLORES GENERALES*/

		.overlayBgVideo{
			background-color:rgba(0,0,0,0.3);
		}

		.homeButton{
		    background: none;
		    color: white;
		    border: 2px solid white;
		}
		
		.cards-x3__item{
			box-shadow: 0 0 15px 5px #fcfcff;
			transition:0.4s;
			
		}
	
		.cards-x3__item:hover{
			box-shadow: 0 0 15px 5px #ebebee;
			transition:0.4s;
			
		}
	
		.grillaCuadros__texto{
			background-color:#f9f9ff;
		}
		
		footer section{
			background-color:black;
			color:white;
		}
		
		section{
			background-color:white;
		}
		
				section#queHacemos{
					background-color:#ddd;
				}

	
		/*estados de color del menú*/
		
		.mainNav--transparente{
			background-color:transparent;
			transition:0.4s;
		}
		.mainNav--negro{
			background-color:rgba(0,0,0,0.9);
			transition:0.4s;
		}

		.contenedor{
			background-color:transparent;
		}	
				#queHacemos .contenedor{
					background-color:white;
				}	
		
		

		
		
/*------------------------------------------- NAVEGACIÓN GENERAL ----------------------------------------------------*/

/*secciones*/

		section{
			width:100%;
		}

		section.fullHeight{
			min-height:100vh;
		}

/*menú*/
		
		.mainNav{
			height:80px;
			display:flex;
			align-items:center;
			justify-content:space-between;
			position:fixed;
			top:0;
			left:0;
			width:100%;
			z-index:10;
		}

		.mainNav__logo{
			padding-left: 13.5%;
		}
		.mainNav__logo img{
			width: 250px;
		}
			
		.pgwMenu{
			width: 100%;
			padding-right: 13.5%;
			float: right;
		}

		.pgwMenu ul{
			float:right;
		}



		.pgwMenu li{
			margin: 0 0 0 25px;
		}
		
		.pgwMenu li a{
			padding:0 6px;
		}
		
		.pgwMenu .pm-dropDown a{
			float:right;
			background: none;
		}
		
		.pgwMenu .pm-links.mobile, .pgwMenu .pm-viewMore > ul{
			width: 250px;
			background: black;
			box-shadow: none;
			left: auto;
			right: 0px;
			margin: 0px;
			height: 110vh;
			top: -30px;
		padding-top: 150px;
		}
		
		.pgwMenu .pm-links.mobile li, .pgwMenu .pm-viewMore > ul > li{
			width:100%;
		}
		
/*------------------------------------------- CONTENEDORES DE CENTRADO VERTICAL DE SECCIONES ----------------------------------------------------*/
	
	section{
		display:table;
	}

	.tableCell{
		display:table-cell;
		vertical-align:middle;
		width:100%;
	}
			#queHacemos .tableCell{ /*esta en particular no está centrada*/
				vertical-align:middle;
			}

	.contenedor{
		margin:0 auto;
		padding:5%;
	}
		
	.contenedor::after { /*clearfix*/
		content: "";
		clear: both;
		display: table;
	}	
	
			.overlayBgVideo .contenedor{
				max-width:600px;
			}
			
			#queHacemos .contenedor{
				max-width:800px;
			}
			
			#info .contenedor{
				padding:1%;
			}


/*------------------------------------------- HOME ----------------------------------------------------*/

		section#home{
			background: url("../img/bg_mauro_home.jpg");
		} 
		
		.fullScreenVideo{
			pointer-events:none;
			position: fixed;
			right: 0;
			bottom: 0;
			min-width: 100%; 
			min-height: 100%;
			z-index: -2;
		}
		
		.overlayBgVideo{
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			display: table;
			background-color: rgba(0,0,0,0.7);
		}
			
		.homeButton{	    
			border-radius: 50px 50px;
			margin: 0 auto;
			margin-top: 3vh;
			padding: 15px 30px;
			cursor: pointer;
			display: block;
		}

/*------------------------------------------- BENEFICIOS ----------------------------------------------------*/

		section#paquetes{
			background-image:url("../img/bcg_atardecer.jpg");
		}
		

/*------------------------------------------- 3 CARDS (BENEFICIOS) ----------------------------------------------------*/
		
		.cards-x3{
			width:100%;
		}
		.cards-x3::after { /*clearfix*/
			content: "";
			clear: both;
			display: table;
		}
		
		.cards-x3__item{
			display:block;
			box-sizing: border-box;
			float:left;
			width:29%;
			margin:2%;
			padding:6%;
			background:white;
		}
		
		.cards-x3__item .contenedorTexto{
			height:200px;
		}
		
		.cards-x3__image{
			height: 150px;
			width: 150px;
			margin: 0 auto;
			margin-bottom: 25px;
		}

		.cardButton{
		    width: 200px;
		    background: transparent;
		    height: 50px;
		    font-family: 'Questrial', sans serif;
		    font-size: 1.1em;
		    border: 2px solid #aaa;
		    transition: 0.4s;
		    cursor: pointer;
			font-weight: bold;
		}
		.cardButton:hover{
		    border-color: #ddd;
		    transition: 0.4s;
		    color: #aaa;
		}
/*------------------------------------------- GRILLA DE CUADROS ----------------------------------------------------*/

		.grillaCuadros{
			width:100%;
		}
		
		.grillaCuadros::after { /*clearfix*/
			content: "";
			clear: both;
			display: table;
		}
		
		.grillaCuadros__cuadro{
			width:50%;
			height:80vh;
			box-sizing: border-box;
			padding: 5%;
		}
		.grillaCuadros__izq{
			float:left;
		}
		.grillaCuadros__der{
			float:right;
		}

		.grillaCuadros__foto{
			background-size:cover;
			background-position:center;
		}
		
		.grillaCuadros__texto{
			display:flex;
			flex-direction:column;
			justify-content:center;
		}

		.grillaCuadros__img1{
			background-image:url("../img/imagen-cuadro-01.jpg");
		}
		.grillaCuadros__img2{
			background-image:url("../img/imagen-cuadro-02.jpg");
		}

/*------------------------------------------- LISTA DE IMÁGENES ----------------------------------------------------*/
		
		.listaExpandible__lista{ /*TODO: para asegurar compatibilidad, ver si puedo evitar el uso de flexbox*/
			margin-top:100px;
			display:flex;
			flex-wrap:wrap;
			justify-content:center;
		}
		.listaExpandible__item{
			margin: 20px 30px;
		}		
		
/*------------------------------------------- BANNER FONDO ----------------------------------------------------*/

		section#bannerFinal{
			display:block;
			height:550px;
			background:none;
			background-image:url("../img/bn_hamacame.jpg");
			background-position:center;
			background-size:cover;
		}
		
/*------------------------------------------- WIDGETS FOOTER ----------------------------------------------------*/		
		
		.widgetContainer{
			display:flex;
			flex-wrap:wrap;
			justify-content:space-evenly;
		}
		
		.footerWidget{
			width:350px;
			height:220px;
			margin-bottom:40px;
			box-sizing:border-box;
			padding:1%;
		}
	
		.footerWidget .snippetInfo:nth-child(2){
			margin-top:30px;
		}
		
		.footerWidget ul li {
			margin-bottom: 10px;
		}
		
		.footerLogo{
			margin-bottom: 20px;
		}
		
		
/*------------------------------------------- WIDGETS EQUIPO ----------------------------------------------------*/

		.widgetEquipo{
			box-sizing:border-box;
			float:left;
			padding:30px;
			text-align:center;
		}
		
		.widgetEquipo__foto{
			margin-bottom: 10%;
		}
	
		
/*------------------------------------------- RESPONSIVE ----------------------------------------------------*/

		@media(max-width:1000px){
			
			/*HTML*/
			
				html{
					font-size:0.9em;
				}
			
			/*MENU*/
			
			.mainNav__logo{
				padding-left: 4%;
			}
			
			.pgwMenu{
				padding-right: 3%;
			}			
			
			/*HOME*/
			
				section#home{
					background-image: url("../img/bn_main_web.jpg");
					background-position:center;
					background-size:cover;
				}
				.fullScreenVideo{
					display:none;
				}
				
			/*BENEFICIOS*/
				
			.cards-x3__item{
				width:100%;
			}
				
			/*GRILLA CUADROS*/
			
				.grillaCuadros__cuadro{
					width:100%;
				}
			
			
			/*FOOTER*/

				#info .contenedor{
					padding-top:50px;
				}
				
				.footerWidget{
					height:auto;
				}
				
		}
